@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Maven Pro", sans-serif;
    /*font-optical-sizing: auto;*/
    /*font-weight: 400;*/
    /*font-style: normal;*/
  }
}

body {
  margin: 0;
  min-height: 100vh;
}

yield-search-box {
  @apply form-control flex-1;
}

yield-search-box > .yield-search-bar form {
  @apply flex gap-2 mb-0;
}

yield-clearall > button {
  @apply btn btn-sm w-full md:btn-md btn-primary;
}

yield-search-facet {
  @apply flex flex-col gap-2 md:flex-row;
}

yield-search-sort > .yield-search-sort > select {
  @apply w-full md:w-auto;
}

yield-search-box > .yield-search-bar input[type="search"] {
  @apply input input-bordered w-full;
}

yield-search-box > .yield-search-bar button {
  @apply btn btn-primary;
}

yield-facet-dropdownlist > select,
yield-search-sort > div > select {
  @apply select select-bordered w-full;
}

yield-search-result {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6;
}

nav[role="navigation"] {
  @apply flex justify-center;
}

nav[role="navigation"] > ul {
  @apply flex justify-between gap-1 p-0;
}

nav[role="navigation"] > ul > li button {
  @apply btn btn-xs sm:btn-sm md:btn-md btn-primary;
  margin: 0;
}

nav[role="navigation"] > ul > li button[aria-current="true"] {
  @apply btn-outline;
}

nav[role="navigation"] > ul > li button[disabled] {
  @apply btn-outline;
  opacity: 0.6;
}

nav[role="navigation"] > ul > li button[aria-current="true"] {
  @apply btn-outline;
}

[data-theme="light"] .card {
  @apply bg-base-100;
}

[data-theme="dark"] .card {
  @apply bg-base-300;
}

yield-search-box > .yield-search-bar {
  position: relative;
}

.suggestions-dropdown {
  position: absolute;
  @apply bg-base-100 shadow-lg border-2 border-base-200 rounded-lg w-full shadow-lg;
  max-height: 400px;
  overflow-y: auto;
  z-index: 1000;
  top: 110%;
}

.suggestion-item {
  @apply border-b border-base-200 p-4 cursor-pointer;
}

.suggestion-item:last-child {
  border-bottom: none;
}

.suggestion-item.selected,
.suggestion-item:hover {
  @apply bg-base-300;
}

.suggestion-item .subtitle {
  @apply text-base-content/50;
}

.suggestion-item .description {
  @apply text-base-content/75;
}

.autocomplete-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.search-input-wrapper {
  position: relative;
  margin-bottom: 1rem;
}

.suggestions-list .selected {
  @apply bg-base-300;
}

/* Sidebar */
.side-filter .yield-filter-header {
  @apply mb-2 px-2 text-lg font-semibold;
}


.side-filter .yield-filter {
  @apply px-1  mb-2;
}

.side-filter .yield-filter-value > .yield-filter .yield-filter-body{
  @apply ml-2;
}

.side-filter .yield-filter-value > .yield-filter .yield-filter-header{
  @apply text-base font-semibold py-1;
}

.side-filter yield-facet-checkboxlist {
  @apply p-0;
}

.side-filter .yield-filter-body {
  @apply flex items-center py-1 px-2 px-2 mb-1 hover:bg-base-200;
}

.side-filter .yield-filter-body input[type="checkbox"] {
  @apply checkbox border-2 border-base-300;
}

.side-filter .yield-filter-body .yield-filter-body-label {
  @apply ml-3 text-sm flex-1 group-hover:text-primary cursor-pointer;
}

.side-filter .yield-filter-body .yield-filter-body-label-count {
  @apply text-sm;
}
